DB_NAME=ec-comercial



# STORE_CORS=https://ladynails.vercel.app,https://appealable-tyson-abstractedly.ngrok-free.dev,https://docs.medusajs.com
# STORE_URL=https://ladynails.vercel.app
# ADMIN_CORS=http://localhost:5173,https://ladynails.vercel.app,https://appealable-tyson-abstractedly.ngrok-free.dev,https://docs.medusajs.com
# AUTH_CORS=http://localhost:5173,https://ladynails.vercel.app,https://appealable-tyson-abstractedly.ngrok-free.dev,https://docs.medusajs.com
STORE_CORS=http://localhost:3000,https://docs.medusajs.com
STORE_URL=http://localhost:3000
ADMIN_CORS=http://localhost:5173,http://localhost:3000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,http://localhost:3000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DB_NAME=ec-comercial

# DATABASE_URL=postgresql://postgres:MWh7FVbvrc8B!MvG@v8M@db.hqdyhpzmrwmpxwdeofuv.supabase.co:5432/postgres
DATABASE_URL=postgresql://postgres.hqdyhpzmrwmpxwdeofuv:MWh7FVbvrc8B!MvG@v8M@aws-1-us-east-1.pooler.supabase.com:6543/postgres
DATABASE_TYPE=postgres

# Resend
RESEND_API_KEY=re_cB3UhVQw_83HXS8UFks8NviHf2YGcoozg

#Wompi
WOMPI_PUBLIC_KEY="pub_test_t3rlg5VT0PIvf9fApBXxMgOBNK8jYNJj"
WOMPI_PRIVATE_KEY="prv_test_pzNwD6i6tCUMYEA4rXT3GSnvbKE9vxDJ"
WOMPI_INTEGRITY_KEY="test_integrity_0RGgSfLEYz0WSyJ8JOxNv4VIHNo184i6"
WOMPI_INTEGRITY_SV_KEY="test_events_6cWLpJPl7vrRp5UCG8RsddT6YbARoKG2" 
